*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-left: 64px; /* sidebar width */
  background: #111;
  color: #e0e0e0;
  font-family: 'Inter', sans-serif;
  height: 100vh;
  overflow: hidden;
}

pre {
  margin: 0;
}